.ie_all .sd .frame, .ie_all .sd .frame-tab, .ie_all #chart, .ie_all #online, .ie_all .lk ,.ie_all #ct .mn .frame ,.ie_all .fl .bmw, .ie_all .boardnav .fl.bmw ,.ie_all #sd_bdl ,.ie_all .pbn .forum_mex{ border:#ddd 1px solid}
.ie_all #ct .mn .frame { padding-bottom:10px;}



.tb a { border-right:#ddd 1px solid; border-left:#ddd 1px solid}
.fl { margin-bottom:0}
.autos #ft .oft { width:960px; margin:0 auto}
.ie6 .fl .icon { display:inline}

