<!--{subtemplate common/header}-->
<style id="diy_style" type="text/css"></style>
<!--[diy=comiis01]--><div id="comiis01" class="area"></div><!--[/diy]-->
<div class="clearfix comiis_warp960">
<div class="comiis_warp370">
	<div style="margin-top:10px;"><!--[diy=comiis02]--><div id="comiis02" class="area"></div><!--[/diy]--></div>
	<div class="comiis_borderbox">
		<div class="comiis_title"><h2>城市生活向导</h2></div>
		<div class="comiis_height279">
			<div class="comiis_ico"><!--[diy=comiis03]--><div id="comiis03" class="area"></div><!--[/diy]--></div>
			<div class="comiis_warp214">
			<!--[diy=comiis04]--><div id="comiis04" class="area"></div><!--[/diy]-->
			</div>
		</div>
	</div>
</div>
<div class="comiis_hotnew">
	<div class="comiis_hottitle"><h2>今日热点</h2><script type="text/javascript">var d = new Date();document.write(d.getFullYear()+'年'+(d.getMonth()+1)+'月'+d.getDate()+'日'+' 星期'+'日一二三四五六'.charAt(new Date().getDay()));</script></div>
	<!--[diy=comiis05]--><div id="comiis05" class="area"></div><!--[/diy]-->
</div>
<div class="comiis_warp200">
	<div class="comiis_borderbox">
		<div class="comiis_title"><h2>社区精选</h2><span><a href="#" target=_blank>更多&gt;&gt;</a></span></div>
		<div class="comiis_height260">
		<!--[diy=comiis06]--><div id="comiis06" class="area"></div><!--[/diy]-->
		</div>
	</div>
	<div class="comiis_ad">
	<!--[diy=comiis07]--><div id="comiis07" class="area"></div><!--[/diy]-->
	</div>
	<div class="comiis_borderbox">
		<div class="comiis_title"><h2>社区动态</h2><span><a href="#" target=_blank>更多&gt;&gt;</a></span></div>
		<div class="comiis_height260 comiis_height119">
		<!--[diy=comiis08]--><div id="comiis08" class="area"></div><!--[/diy]-->
		</div>
	</div>
</div>
</div>
<!--[diy=comiis09]--><div id="comiis09" class="area"></div><!--[/diy]-->
<div class="clearfix comiis_warp960">
<div class="comiis_borderbox">
	<div class="comiis_title"><h2>社区贴图</h2><span>以敏锐的感观独特的视角 用光影色捕捉生活中的点点滴滴</span></div>
	<div class="clearfix comiis_imgslist">
		<!--[diy=comiis10]--><div id="comiis10" class="area"></div><!--[/diy]-->
	</div>
</div>
</div>
<div class="clearfix comiis_warp960">
<div class="comiis_warp760">
	<div class="comiis_warp370">
		<div class="comiis_borderbox">
			<div class="comiis_title"><h2>休闲娱乐</h2><span><a href="#" target=_blank>进入频道&gt;&gt;</a></span></div>
			<div class="comiis_height279">
				<div class="comiis_warp122">
				<!--[diy=comiis11]--><div id="comiis11" class="area"></div><!--[/diy]-->
				</div>
				<div class="comiis_warp214 comiis_big">
				<!--[diy=comiis12]--><div id="comiis12" class="area"></div><!--[/diy]-->
				</div>
			</div>
		</div>
	</div>
	<div class="comiis_warp370">
		<div class="comiis_borderbox">
			<div class="comiis_title"><h2>城市美食</h2><span><a href="#" target=_blank>进入频道&gt;&gt;</a></span></div>
			<div class="comiis_height279">
				<div class="comiis_warp122">
					<!--[diy=comiis13]--><div id="comiis13" class="area"></div><!--[/diy]-->
				</div>
				<div class="comiis_warp214 comiis_big">
					<!--[diy=comiis14]--><div id="comiis14" class="area"></div><!--[/diy]-->
				</div>
			</div>
		</div>
	</div>
	<div class="comiis_warp370">
		<div class="comiis_borderbox">
			<div class="comiis_title"><h2>情感婚姻</h2><span><a href="#" target=_blank>进入频道&gt;&gt;</a></span></div>
			<div class="comiis_height279">
				<div class="comiis_warp122">
					<!--[diy=comiis15]--><div id="comiis15" class="area"></div><!--[/diy]-->
				</div>
				<div class="comiis_warp214 comiis_big">
					<!--[diy=comiis16]--><div id="comiis16" class="area"></div><!--[/diy]-->
				</div>
			</div>
		</div>
	</div>
	<div class="comiis_warp370">
		<div class="comiis_borderbox">
			<div class="comiis_title"><h2>妈咪宝贝</h2><span><a href="#" target=_blank>进入频道&gt;&gt;</a></span></div>
			<div class="comiis_height279">
				<div class="comiis_warp122">
					<!--[diy=comiis17]--><div id="comiis17" class="area"></div><!--[/diy]-->
				</div>
				<div class="comiis_warp214 comiis_big">
					<!--[diy=comiis18]--><div id="comiis18" class="area"></div><!--[/diy]-->
				</div>
			</div>
		</div>
	</div>
	<div class="comiis_warp370">
		<div class="comiis_borderbox">
			<div class="comiis_title"><h2>房产楼市</h2><span><a href="#" target=_blank>进入频道&gt;&gt;</a></span></div>
			<div class="comiis_height279">
				<div class="comiis_warp122">
					<!--[diy=comiis19]--><div id="comiis19" class="area"></div><!--[/diy]-->
				</div>
				<div class="comiis_warp214 comiis_big">
					<!--[diy=comiis20]--><div id="comiis20" class="area"></div><!--[/diy]-->
				</div>
			</div>
		</div>
	</div>
	<div class="comiis_warp370">
		<div class="comiis_borderbox">
			<div class="comiis_title"><h2>车迷乐园</h2><span><a href="#" target=_blank>进入频道&gt;&gt;</a></span></div>
			<div class="comiis_height279">
				<div class="comiis_warp122">
					<!--[diy=comiis21]--><div id="comiis21" class="area"></div><!--[/diy]-->
				</div>
				<div class="comiis_warp214 comiis_big">
					<!--[diy=comiis22]--><div id="comiis22" class="area"></div><!--[/diy]-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="comiis_warp200">
	<div class="comiis_ad">
	<!--[diy=comiis23]--><div id="comiis23" class="area"></div><!--[/diy]-->
	</div>
	<div class="comiis_borderbox">
		<div class="comiis_title"><h2>打折优惠</h2><span><a href="#" target=_blank>更多&gt;&gt;</a></span></div>
		<div class="comiis_height260 comiis_height229">
		<!--[diy=comiis24]--><div id="comiis24" class="area"></div><!--[/diy]-->
		</div>
	</div>
	<div class="comiis_borderbox">
		<div class="comiis_title"><h2>游山玩水</h2><span><a href="#" target=_blank>更多&gt;&gt;</a></span></div>
		<div class="comiis_height260 comiis_height215">
		<!--[diy=comiis25]--><div id="comiis25" class="area"></div><!--[/diy]-->
		</div>
	</div>
	<div class="comiis_ad">
	<!--[diy=comiis27]--><div id="comiis27" class="area"></div><!--[/diy]-->
	</div>
	<div class="comiis_borderbox">
		<div class="comiis_title"><h2>网友中心</h2><span><a href="#" target=_blank>更多&gt;&gt;</a></span></div>
		<div class="comiis_height260 comiis_height165">
		<!--[diy=comiis26]--><div id="comiis26" class="area"></div><!--[/diy]-->
		</div>
	</div>
</div>
</div>
<!--[diy=comiis28]--><div id="comiis28" class="area"></div><!--[/diy]-->
<div class="clearfix comiis_warp960">
<div class="comiis_borderbox" style="margin-bottom:10px;">
<div class="comiis_title"><code>友情链接</code><span>友情链接本站要求: 排名50万内,百度收录1000以上  联系QQ:21400445  邮箱:admin@comiis.com</span></div>
<!--[diy=comiis34]--><div id="comiis34" class="area"></div><!--[/diy]--></div>
</div>
<!--{subtemplate common/footer}-->